h1 {
    color:white;
    background-color: steelblue;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 0;
}
body{
    background: #232323;
    margin: 0;
    font-family: "arial";
}
#targetColor {
    font-size: 200%;
}
button{
    border: none;
    background-color: white;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
}
button:hover{
    color:white;
    background-color: steelblue;
    cursor: pointer;
}
.square{
    background-color: red;
    width:12%;
    margin: 1.2%;
    float: left;
    padding-bottom:20%;
    border-radius: 30%;
    transition: background 0.7s;
}
.square:hover{
    cursor: pointer;
}
.container {
    margin: 20px auto;
    max-width: 600px;
}
#stripe {
    text-align: center;
    background-color: white;
    padding: 0 auto;
}

#message {
    font-family: "arial";
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
}
